
  <div class="text-center">
    <h1>Games#game</h1>

    <p>******** Welcome to the longest word-game !********</p>
    <p>Here is your grid :</p>

    <%= @grid %>

    <p>*****************************************************</p>
    <p>What's your best shot ?</p>
    <hr>

    <form action="/score" method="get">
      <input type="text" name="shot" placeholder="Your best shot?">
      <input type="hidden" name="grid" value="<%= @grid %>">
      <input type="hidden" name="start_time" value="<%= @start_time %>">
      <input type="submit" class ="btn btn-primary">
    </form>
  </div>
